<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
    <div ng-app="" ng-init ="numbers = [1,2,3,4,5,6,7,8,9]; tmp = 1" >
        <p>without ng_repeate</p>
        <p>Enter first number: <input type="text" ng-model="tmp"></p>
        <p>Enter second number: <input type="text" ng-model="tmp2"></p>
        <h1>1</h1>
        {{tmp}} + {{tmp2}} = {{tmp + tmp2}}<br>
        {{tmp}} - {{tmp2}} = {{tmp - tmp2}}<br>
        {{tmp}} * {{tmp2}} = {{tmp * tmp2}}<br>
        {{tmp}} / {{tmp2}} = {{tmp / tmp2}}<br>
        <h1>2</h1>
        <span>1 * {{tmp}} = </span><span ng-bind="tmp * 1"></span><br>
        <span>2 * {{tmp}} = </span><span ng-bind="tmp * 2"></span><br>
        <span>3 * {{tmp}} = </span><span ng-bind="tmp * 4"></span><br>
        <span>4 * {{tmp}} = </span><span ng-bind="tmp * 3"></span><br>
        <span>5 * {{tmp}} = </span><span ng-bind="tmp * 5"></span><br>
        <span>6 * {{tmp}} = </span><span ng-bind="tmp * 6"></span><br>
        <span>7 * {{tmp}} = </span><span ng-bind="tmp * 7"></span><br>
        <span>8 * {{tmp}} = </span><span ng-bind="tmp * 8"></span><br>
        <span>9 * {{tmp}} = </span><span ng-bind="tmp * 9"></span><br>
        <p>with ng_repeate</p>
        <span ng-repeat = "x in numbers">{{x}} * {{tmp}} = {{x * tmp}}<br></span>


    </div>

</body>
</html>
