<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        Enter your first number: <input ng-model="powerNumber1" type="number" ng-change="update()">
        Enter your second number: <input ng-model="powerNumber2" type="number" ng-change="update()">
        <button ng-click="result = powerNumber1 * powerNumber2">Click Me!</button>
        <p>The POWER of number is: {{result}}</p>
    </div>

    <script>
    var app = angular.module('myApp', []);


    app.controller('myCtrl', function($scope) {
        $scope.powerNumber1 = 1;
        $scope.powerNumber2 = 1;
        $scope.result = 1;
    });

    </script>
</body>
</html>
